{% extends 'base.html.twig' %}

{% block title %}Produit commandé{% endblock %}

{% block body %}
    <h1>Produit commandé</h1>

    <table class="table">
         <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Creer_le</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.creerLe ? produit.creerLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir le produit</a>
                    {% if fds[produit.id] is not null %}
                    <a href="{{ asset('uploads/fds/' ~ fds[produit.id].cheminpdf) }}">{{fds[produit.id].cheminpdf}}FDS</a>
                    {% endif %}
                </td>
              
            </tr>
            {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
       
        </tbody>
    </table>
{% endblock %}
