<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <a href="{{ path('app_produit_index') }}">Accueil</a>
       
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_panier_show') }}">Panier</a>
        <a href="{{ path('app_produit_user') }}">Produit commandé</a>
        <a href="{{ path('app_logout') }}">Deconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        {% block body %}
        {% endblock %}
    </body>
</html>
